/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: Inter, "Inter", sans-serif; }



.bread ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.bread li {
  float: left;
}


.bread a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

.bread a:hover{
  color: orange;
}



.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-border{
  width: 5rem;
  height: 5rem;
}

.spinner-grow{
  width: 5rem;
  height: 5rem;
}

.panel{
  margin-top: 20px;
  margin-left: 200px;
  margin-right: 200px;
  align-content: center;
  align-items: center;
}

.panel .title {

  font-style: normal;
  font-weight: 500;
  font-size: 27px;
  line-height: 48px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 8px;
}

.no-product{
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}
