@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap');

.container{
  font-family: Inter, sans-serif;
  margin-top:50px;
}

.container .title{
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 50px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  margin-bottom: 0.8em;
  padding-bottom: 8px;
}

.button {
  font-style: normal;
  display: inline-block;
  border-radius: 4px;
  background-color: #6D5D58;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  vertical-align:middle;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.dropzone {
  min-height: 400px;
  min-width: 400px;
  display: table;
  width: 100%;
  background-color: #eee;
  border: dotted 1px #aaa;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}
