<div class="container">

  <form
    *ngIf="!isSuccessful && !(loading$ | async)"
    name="form"
    (ngSubmit)="f.form.valid && createProduct()"
    #f="ngForm"
    novalidate>

    <div class="form-group">
      <div class="form-row">
        <div class="col-auto">

          <div class="image-pane">
            <div class="product_image" appDnd (fileDropped)="onFileDropped($event)">
              <!--https://i.ibb.co/gvyC8mn/insert.png-->
              <!--<img *ngIf="image" src='http://localhost:8080/catalog/api/v1/image/{{image}}' alt="" width = "382" height = "592">-->

              <input type="file" #fileDropRef id="fileDropRef" multiple (change)="fileBrowseHandler($event.target)"/>
              <img src="assets/Images/ic-upload-file.svg" alt="">
              <h3>Drag and drop product image here</h3>
              <h3>or</h3>
              <label for="fileDropRef">Browse for image</label>

            </div>

            <div class="files-list">
              <div class="single-file" *ngFor="let file of files; let i = index">
                <img src="assets/Images/ic-file.svg" width="45px" alt="file">
                <div class="info">
                  <h4 class="name">
                    {{ file?.name }}
                  </h4>
                  <app-progress [progress]="file?.progress"></app-progress>
                </div>


                <img src="assets/Images/ic-delete-file.svg" class="delete" width="20px" alt="file"
                     (click)="deleteFile(i)">
              </div>
            </div>


            <div
              class="alert alert-danger"
              role="alert"
              *ngIf="!currentFile && f.submitted">
              Please upload at least one image of product!
            </div>


            <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

            <!--<button class="button" (click)="uploadAll()"><span>upload</span></button>-->
          </div>
        </div>


        <div class="col-8 ml-auto">

          <div class="product-form">
            <h3 class="title">Dettagli Articolo</h3>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" placeholder="Enter Title of your handcraft" name="name"
                     [(ngModel)]="form.name"
                     required
                     minlength="3"
                     #name="ngModel">

              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="name.errors && f.submitted">
                Name is required!
              </div>


            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" placeholder="Enter a description of your handcraft"
                        name="description" [(ngModel)]="form.description"
                        required
                        minlength="10"
                        #description="ngModel"></textarea>
              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="description.errors && f.submitted">
                Description is required!
              </div>

            </div>

            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <label for="dimensions">Dimensions</label>
                  <input type="text" class="form-control" id="dimensions"
                         placeholder="Enter the dimensions of your handcraft" name="dimensions"
                         [(ngModel)]="form.dimensions"
                         required
                         minlength="2"
                         #dimensions="ngModel">

                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="dimensions.errors && f.submitted">
                    Dimensions are required!
                  </div>

                </div>
                <div class="col">
                  <label for="menu_cat">Category</label>

                  <select class="form-control" id="menu_cat" (change)="updateCategory($event)">
                    <option value=" ">----</option>
                    <option *ngFor="let category of categories" [value]="category.name">{{category.name}}</option>
                  </select>

                  <div
                    class="alert alert-danger"
                    role="alert"
                    *ngIf="!selectedCategory && f.submitted">
                    Please select a category!
                  </div>

                </div>
              </div>
            </div>


            <div class="form-group">
              <label for="price">Price</label>
              <span class="input-number input-number-currency">
              <input type="number" class="form-control" id="price" placeholder="Enter the price of your handcraft"
                     name="price" aria-describedby="priceHelp"
                     [(ngModel)]="form.price"
                     required
                     minlength="2"
                     #price="ngModel">
              <small id="priceHelp" class="form-text text-muted">The price must include shipment cost</small>
            </span>

              <div
                class="alert alert-danger"
                role="alert"
                *ngIf="price.errors && f.submitted">
                Price is required!
              </div>

            </div>


            <button type="submit" class="button"><span>Vendi ! </span></button>


          </div>
        </div>
      </div>
    </div>
  </form>

</div>
