<section class="section-products">

  <div class="spinner" *ngIf="loading$ | async">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="bread-catalog">
    <ul class="breadcrumbs">
      <li class="breadcrumb-item"><a href="/catalog">Catalogo</a></li>
      <li class="breadcrumb-item active">{{category}}</li>
    </ul>
  </div>

  <div class="grid" *ngIf="!(loading$ | async)">

    <div class="empty-list" *ngIf="isEmpty">
      <h4 class="no-product text-center">Non è disponibile nessun prodotto relativo alla categoria selezionata!</h4>
    </div>

    <ng-container *ngFor="let product of products">
      <div class="single-product" (click)="openDetails(product.id)">
        <figure class="product__figure">
          <img *ngIf="!product.image" src="assets/Images/not.png" class="product-image"
               [routerLink]="['/catalog', product.id]" alt="" width="300" height="300"/>
          <img *ngIf="product.image" src='http://localhost:8080/catalog/api/v1/image/{{product.image}}'
               onerror="this.src=assets/Images/not.png" class="product-image"
               [routerLink]="['/catalog', product.id]" alt="" width="300" height="300"/>
        </figure>
        <a>
          <div class="part-2" [routerLink]="['/catalog', product.id]">
            <h3 class="product-title">{{ product.name }}</h3>
            <h4 class="product-price">{{ product.price | currency: 'EUR' }}</h4>
          </div>
        </a>
      </div>
    </ng-container>
  </div>

</section>
