* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

/* Navigation */

.nav-container {
  background: #6D5D58;
  height: 72px;
  margin-top: -65px;
  z-index: 500;
  position: relative;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
}

/* Header */

.header-container {
  background: #6D5D58 ;
  position: absolute;
  top:70px;
  bottom: 0;
  left:0;
  right:0;
  overflow: hidden;

}

header {
  display: flex;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

header h1 {
  font-weight: 900;
  font-size: 64px;
  line-height: 75px;
  color: #D7CEC9;
  margin-bottom: 24px;
}

header p {
  font-size: 24px;
  line-height: 42px;
  color: #021718;
  width: 418px;

  margin-bottom: 48px;
}

header a {
  color: #D7CEC9;
  font-size: 15px;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 15px;
  border-color: #D7CEC9;
  margin-top: 12px;
  padding: 12px 48px;
  display: inline-block;
  transition: 300ms;
}

header a:hover {
  color: #6D5D58;
  background: #D7CEC9;
}

/* Social Icons */

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons a {
  margin: 0 24px;
}

.social-icons a:nth-of-type(1) {
  margin-left: 0;
}

/* Hero image */

header .hero-image {
  position: relative;
  width: 482px;
  height: 692px;
}

header .hero-image img {
  position: relative;

  z-index: 100;
}

/* Search & Close Buttons */

.nav-btn-container {
  display: flex;
  position: relative;
}

.nav-btn-container img {
  position: absolute;
}

.nav-btn-container .close-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
  transition: 300ms;
}

.nav-btn-container .search-btn {
  pointer-events: auto;
  transition: 300ms;
}

.nav-btn-container.active .search-btn {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-8px);
}

.nav-btn-container.active .close-btn {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.footer{
bottom: 0;
left: 0;
position: fixed;
  width: 100%;
}


.center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.right{
  position:absolute;
  left:100%;
  transform: translateX(-100%);
}


.image-stack {
 position: relative;
 width: 100%;
}

.image-stack__item--bottom {
  position: absolute;
  right: 0;
  bottom: -50%;
  width: 50%;
z-index: -1;
}

.image-stack__item--top {
  padding-top: 20px;
  padding-right: 10%;
  width: 40%;
}
