<div id="app">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="#">PiscaStore</a>
      <button class="navbar-toggler" type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse flex-grow-1 justify-content-center">

        <ul class="navbar-nav mx-auto" >

          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/catalog']" >all</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/catalog/category',1]" >ceramics</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/catalog/category',2]" >painting</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/catalog/category',4]" >handmade</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/catalog/category',3]">other</a>
          </li>

        </ul>
      </div>

      <div class="right-nav">
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login" (click)="refresh('/login')">Sign in/Sign up</a>
          </li>
        </ul>
      </div>

      <div class="right-nav bag">
        <ul class="navbar-nav mx-auto" *ngIf="isLoggedIn">
          <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
            <a class="nav-link" [routerLink]="['/bag']">bag(0)</a>
          </li>
        </ul>
      </div>


      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">

        <div class="btn-group dropstart">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
             data-bs-toggle="dropdown" aria-expanded="false" style="font-family: Inter">
            {{username}}
          </a>
          <ul class="dropdown-menu">
            <!-- Dropdown menu links -->
            <li><a class="dropdown-item" href="/profile" routerLink="profile">Il mio profilo</a></li>
            <li><a class="dropdown-item" href="#">I miei ordini</a></li>
            <li><a class="dropdown-item" href="/product_author" routerLink="product_author">I miei articoli</a></li>
            <li><a class="dropdown-item" href="/product_insert" routerLink="product_insert">Vendi un articolo</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" (click)="logout()">LogOut</a></li>
          </ul>
        </div>

      </ul>
    </div>
  </nav>

  <div class="center">
    <router-outlet></router-outlet>
  </div>
</div>
